/*ESTO AYUDA A MODIFICAR PAGINA MEDIANA*/
.display-medium{
    display: inherit !important;
}

/*ALINEACION CENTRADA PARA TODO EL DOCUMENTO*/
body{
    text-align: center;
}

header, footer, #wrapper, #newsletter, #main-section{
    font-size: 10px;
}

/*INICIO, QUIENES SOMOS Y SERVICIOS*/
header{
    padding: 5px;
}

/*NOMBRE DE LA EMPRESA EN ENCABEZADO*/
.logo{
    font-size: 5px;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

/*TAMAÑO LOGOTIPO PROTAX*/
.logoprotax{
    height: 40px;
    width: 115px;
}

/*TAMAÑO PRODUCTOS*/
.productos{
    height: 80px;
    width: 110px;
}

/*TAMAÑO PARA ENLACES (INICIO, QUIENES SOMOS Y SERVICIOS)*/
#newsletter{
    font-size: 0.8em;
}

/*ESPACIADO PARA (INICIO, QUIENES SOMOS Y SERVICIOS)*/
#newsletter li{
	padding: 20px;
}

/*ATRIBUTOS PARA MEDIUM*/
/*A EDITAR*/
.nosotros, .mision, .ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.nosotros{
    background: url(01_nosotros.jpeg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.nosotros, .mision, .ubicacion{
    height: 80vh !important;
}

.contacto, .servicios{
    height: 70vh !important;
}

.mision{
    background: url(02_mision.jpeg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.ubicacion{
    background: url(03_ubicacion.jpeg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

/*CUADROS QUE DICEN SABER MAS*/
.boton{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;/*MOD. ALTO Y ANCHO*/
    text-decoration: none;
}

.boton:hover{
    background: none;
}

.boton-inicio{
    display: flex;
}

.boton-inicio a{
    margin: 0 10px;
}

/*FORMATO CORRECTO A LOS CONTENIDOS*/
.contenido{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*FORMATO A ENCABEZADOS*/
.titulo{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

/*FORMATO A PARRAFOS DE LOS CONTENIDOS*/
.contenido p{
    margin-bottom: 40px;
    font-size: 15px;
    padding: 0 40px;
}


/*ATRIBUTOS DE MINI PARA SERVICES*/
/*SLIDER MANUAL*/

/*MODIFICAR TAMAÑO DE LAS IMAGENES*/
.slider-wrapper{
    position: relative; /*A MODIFICAR*/
    max-width: 100%; /*MAS GRANDE O MAS CHICO EL SLIDER*/
    margin: 0 auto; /*ESTO LA MANTIENE CENTRADA*/
}

/*FORMATO HORIZONTAL A LAS IMAGENES*/
.slider{
    display: flex; /*FORMATO DE SLIDER*/
    aspect-ratio: 16 / 9; /*FORMATO DE LAS IMAGENES*/
    overflow-x: hidden; /*OCULTA LAS DEMAS IMAGENES*/
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: .5rem;
}

/*AJUSTE DE IMAGENES DEL SLIDER*/
.slider img{
    flex: 1 0 100%; /*VISUALIZACIÓN CORRECTA DE IMAGEN ACTIVA*/
    scroll-snap-align: start;
    object-fit: cover;
}

/*FORMATO BOTONES DEL SLIDER*/
.slider-nav{
    display: flex; /*POSICIÓN INFERIOR*/
    column-gap: 3.5rem; /*ESPACIO HORIZONTAL*/
    position: absolute; /*POSICIÓN INFERIOR*/
    bottom: -0.5rem; /*ESPACIO INFERIOR*/
    left: 50%; /*FORMATO CENTRADO*/
    transform: translateX(-50%); /*FORMATO CENTRADO*/
    z-index: 1;
}

/*FORMATO ENCABEZADO DEL SLIDER*/
#menu-slider h2{
    font-size: 10px;
    text-decoration: none;
}

/*FORMATO ENLACES DEL SLIDER*/
/*POSIBLE A ELIMINAR*/
.slider-nav a{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: black;
    transition: opasity ease 250ms;
    text-decoration: none; /*ESTO ELIMINA EL FORMATO DE ENLACE*/
}

/*POSIBLE A ELIMINAR*/
.slider-nav a:hover{
    opacity: 1;
}

/*FORMATO BOTONES DEL SLIDER DE SERVICES*/
.slider-nav{
    column-gap: 1.0rem; /*ESPACIO HORIZONTAL*/
}